body {
    width: 100vw;
    margin: 0px;
    
}

.background {
    background-image: url(../imgs/background-foods-v4.png);
    background-color: #2e2d4c;  
    background-attachment: fixed;
}
.cabecalho {
    text-align: center;
    margin: auto;
    padding: 30px;
    color: white;
    padding-top: 130px;
}

.logo {
    width: 15%;
}

.conteudo {
    width: 72%;
    margin: auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}


.navigation li{
    display: inline-block;
    width: 150px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navigation li a:link,
.navigation li a:visited {
    color: gray;
    text-decoration: none;
}

.navigation li a:hover {
    color: darkcyan;
    text-decoration: underline;
}

.navigation li a:active {
    color: red;
}

.FotoPerfil {
    border-radius: 100%;
    width: 210px;
    float: left;
    padding: 15px;
    margin-right: 20px;

}

.font_media {
    font-size: 1.7rem;
    line-height: 3rem;
}

.titulo {
    font-size: 1.9rem;
    margin-top: 50px;
}

.imagens {
    display: inline-block;
    width: 450px;
    height: 240px;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 2%;
    filter: grayscale(0.4);
           
}

.imagens:hover {
    filter: none;
}

.fotosPortfolio {
    display: inline-block;
    max-width: 932px;
    margin: auto;
}

.sem_bolinha {
    list-style-type: none;
}

.botao_inicio {
    position: sticky;
    width: 48px;   
    background-color: white;
    border-radius: 100%;   
    position: fixed;
    bottom: 20px;
    left: 94%;
    opacity: 0.5;
}

.mudar_cor {
    color: gray;
    background-color: #2e2d4c;
    border-radius: 100%;
}

.habilidades label {
    display: inline-block;
    width: 100px;
}

.habilidades progress {
    accent-color: #2e2d4c;
    height: 35px;
    
}

